* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate();
    max-width: 350px;
    width: 100%;
}

form {
    background: #FFA8A8;
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 500px;
    auto: auto;
}

.form-inputs {
    display: block;
    width: 90%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#dropdown {
    display: block;
    width: 95.5%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-headings {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.submit-button {
    width: 30%;
    padding: 0.75em;
    background: #ffffff;
    color: rgb(5, 5, 5);
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

#textarea {
    width: 93%;
}

@media only screen and (max-width:800px) {
    form {
        width: 65%;
        height: auto;
    }
}

#error_message {
    margin-bottom: 20px;
    background-color: #f50202;
    padding: 0px;
    text-align: 14px;
    font-size: 14px;
    transition: all 0.5s ease;
}